<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-4">
    <div class="d-flex align-items-center justify-content-between p-3 bg-light-primary border border-primary flex-wrap gap-3 rounded-3">
        <div class="freeprcIcon">
            <div class="freeprcBocses d-flex align-items-center justify-content-start gap-3">
                <div class="freeprcFirst"><span class="square--60 bg-primary text-light circle"><i class="bi bi-patch-check-fill h-auto fs-4"></i></span></div>
                <div class="freeprcInfo">
                    <h5 class="fw-semibold lh-base mb-0">Free Account</h5>
                    <p class="lh-base mb-0">Choose free account valid for 3 listings</p>
                </div>
            </div>
        </div>
        
        <div class="freeprcAccount mob-100">
            <button type="button" class="btn btn-md btn-whites rounded-pill fw-medium mob-100">Free Listing<i class="bi bi-arrow-right ms-2"></i></button>
        </div>
    </div>
</div>