# Database connection URL
DATABASE_URL=postgresql://postgres:EkeQthHVIhn8EEOT@db.yyjhaobshvlcjxqqxzoq.supabase.co:5432/postgres

# Secret key for Flask sessions
SECRET_KEY=Bpamdeveloper

# Debug mode (True/False)
DEBUG=True