<div class="singleCarts">
    <div class="cartFirsty1">
        <span class="shippingType">Free Shipping</span>
        <h6 class="itemBrans">Awaik Brand</h6>
        <p class="itemName">Flower Vase x1</p>
    </div>
    <div class="cartFirsty2">
        <div class="totalPrice">$45</div>
    </div>
</div>

<div class="singleCarts">
    <div class="cartFirsty1">
        <span class="shippingType charegable">Shipping $40</span>
        <h6 class="itemBrans">LP Liquid Hipe</h6>
        <p class="itemName">Water Castle x1</p>
    </div>
    <div class="cartFirsty2">
        <div class="totalPrice">$62</div>
    </div>
</div>

<div class="singleCarts">
    <div class="cartFirsty1">
        <span class="shippingType">Free Shipping</span>
        <h6 class="itemBrans">Singla Sivansh</h6>
        <p class="itemName">Cattle Liwar x1</p>
    </div>
    <div class="cartFirsty2">
        <div class="totalPrice">$72</div>
    </div>
</div>