<a href="#" class="btn btn-primary rounded-pill">Filled Button</a>
<a href="#" class="btn btn-primary rounded-pill"><i class="bi bi-twitter me-2"></i>Filled Icon Button</a>
<a href="#" class="btn btn-outline-primary rounded-pill">Border Button</a>
<a href="#" class="btn btn-outline-primary rounded-pill"><i class="bi bi-twitter me-2"></i>Border Icon Button</a>
<a href="#" class="btn btn-light-primary rounded-pill">Light Button</a>
<a href="#" class="btn btn-light-primary rounded-pill"><i class="bi bi-twitter me-2"></i>Light Icon Button</a>