<div class="elementContent">
    <div class="form-group mb-2">
        <input type="text" class="form-control" placeholder="Your text here">
    </div>
    
    <h6>With Icons</h6>
    <div class="form-group">
        <div class="formField icons">
            <input type="text" class="form-control" placeholder="Your text here">
            <i class="bi bi-search icon"></i>
        </div>
    </div>
    
    <h6>Select Form</h6>
    <div class="form-group border">
        <select id="my-select">
          <option value="">Choose Option</option> 
          <option value="lv">Eat & Drinking</option>
          <option value="la">Rental Property</option>
          <option value="kc">Classifieds</option>
          <option value="no">Bank Services</option>
          <option value="kc">Shopping</option>
          <option value="lb">Fintess & Gym</option>
          <option value="cl">Coaching</option>
          <option value="cn">Other Services</option>
        </select>
    </div>
    
    <h6>Multi Selection</h6>
    <div class="form-group">
        <select id="my-select2" multiple>
          <option value="lv" selected>Eat & Drinking</option>
          <option value="la">Rental Property</option>
          <option value="kc" selected>Classifieds</option>
          <option value="no">Bank Services</option>
          <option value="kc">Shopping</option>
          <option value="lb">Fintess & Gym</option>
          <option value="cl">Coaching</option>
          <option value="cn">Other Services</option>
        </select>
    </div>
    
</div>