<!-- Single Item -->
<div class="col-xl-12 col-lg-12 col-md-12">
    <div class="card rounded-4 border">
        <div class="row align-items-center justify-content-start">
        
            <div class="col-xl-4 col-lg-4 col-md-4">
                <a href="/blog-detail/" class="d-block p-3">
                    <img class="img-fluid rounded" src="{{ url_for('static', filename='assets/img/blog-5.jpg') }}" alt="blog image">
                </a>
            </div>
            
            <div class="col-xl-8 col-lg-8 col-md-8">
                <div class="card-body">
                    <div class="d-flex align-items-center justify-content-start gap-2 mb-3">
                        <span class="badge badge-xs badge-success rounded-pill">Featured</span>
                        <span class="badge badge-xs badge-danger rounded-pill">Web Design</span>
                    </div>
                    <a href="/blog-detail/"><h4 class="fw-semibold fs-5 lh-base mb-2">Boost Your Website's Performance with These Bootstrap Optimization Tips</h4></a>
                    <p>Cicero famously orated against his political opponent Lucius Sergius Catilina. Occasionally the first Oration against Catiline is taken for type specimens: Quo usque tandem abutere, Catilina, patientia nostra.</p>
                    <div class="d-flex align-items-center justify-content-start mt-4">
                        <a href="#" class="badge badge-primary rounded-pill">Continue Reading</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>