{% for item in experts %}
    <div class="singleItem">
        <div class="card border">
            <div class="d-block p-3 pb-0">
                <img class="img-fluid rounded" src="{{ item.img }}" alt="Team image">
            </div>
            <div class="card-body pb-0">
                <div class="teamCaps text-center mb-5">
                    <h5 class="mb-0 lh-base">{{ item.title }}</h5>
                    <p>{{ item.name }}</p>
                </div>
                
                <div class="teamSocial text-center">
                    <div class="d-inline-flex align-items-center justify-content-center gap-4 py-3 px-5  mx-auto border border-bottom-0 rounded-top">
                        <a href="#" class="color--facebook fs-5"><i class="bi bi-facebook"></i></a>
                        <a href="#" class="color--twitter fs-5"><i class="bi bi-twitter"></i></a>
                        <a href="#" class="color--instagram fs-5"><i class="bi bi-instagram"></i></a>
                        <a href="#" class="color--pinterest fs-5"><i class="bi bi-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}