<div class="col-xl-5 col-lg-5 col-md-6 col-sm-12">
    <div class="missionImg">
        <img src="{{ url_for('static', filename='assets/img/side-img.png') }}" class="img-fluid" alt="">
    </div>
</div>
<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
    <div class="missioncaps">
        <div class="d-block mb-4">
            <div class="d-flex align-items-start mb-2"><span class="badge badge-xs badge-success rounded-pill">About Mission</span></div>
            <h2>Explore Our Aim & Mission</h2>
        </div>
        <p>Euismod ultricies sollicitudin. Curabitur sed dapibus nulla. Nulla eget iaculis lectus. Mauris ac maximus neque. Nam in mauris quis libero sodales eleifend. Morbi varius, nulla. Nulla posuere sapien vitae lectus suscipit, et pulvinar nisi tincidunt. Curabitur convallis fringilla diam sed aliquam. sit amet rutrum elementum, est elit finibus tellus, ut tristique elit risus at metus. Sed tempor iaculis massa faucibus feugiat.</p>
        <p>Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar. Donec a consectetur nulla. Nulla posuere sapien vitae lectus suscipit, et pulvinar nisi tincidunt. Curabitur convallis fringilla diam sed aliquam. Sed tempor iaculis massa faucibus feugiat. In fermentum facilisis massa, a consequat purus viverra. Aliquam erat volutpat. Curabitur convallis fringilla diam sed aliquam. Sed tempor iaculis massa faucibus feugiat. In fermentum facilisis massa.</p>
        <div class="d-flex align-items-start mt-4">
            <a href="#" class="btn btn-light-primary rounded-pill px-5">Meet Our Team</a>
        </div>
    </div>
</div>