<!-- Single Wrap -->
<div class="faqsWraps w-100">
    <div class="fasqHeads mb-3">
        <h4>Support & Help</h4>
    </div>
    <div class="faqsCaps">
        <div class="accordion accordion-flush" id="supportFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseOne3" aria-expanded="false" aria-controls="flush-collapseOne3">
                        Realcout Agent Can Chat Online?
                    </button>
                </h2>
                <div id="flush-collapseOne3" class="accordion-collapse collapse" data-bs-parent="#supportFlushExample">
                    <div class="accordion-body">In a professional context it often happens that private or corporate
                        clients corder a publication to be made and presented with the actual content still not being ready.
                        Think of a news blog that's filled with content hourly on the day of going live. However, reviewers
                        tend to be distracted by comprehensible content, say, a random text copied from a newspaper or the
                        internet. The are likely to focus on the text, disregarding the layout and its elements.</div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseTwo3" aria-expanded="false" aria-controls="flush-collapseTwo3">
                        Can I Call Agent on Site?
                    </button>
                </h2>
                <div id="flush-collapseTwo3" class="accordion-collapse collapse" data-bs-parent="#supportFlushExample">
                    <div class="accordion-body">In a professional context it often happens that private or corporate
                        clients corder a publication to be made and presented with the actual content still not being ready.
                        Think of a news blog that's filled with content hourly on the day of going live. However, reviewers
                        tend to be distracted by comprehensible content, say, a random text copied from a newspaper or the
                        internet. The are likely to focus on the text, disregarding the layout and its elements.</div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseThree3" aria-expanded="false" aria-controls="flush-collapseThree3">
                        Is This Collaborate with Oyo?
                    </button>
                </h2>
                <div id="flush-collapseThree3" class="accordion-collapse collapse"
                    data-bs-parent="#supportFlushExample">
                    <div class="accordion-body">In a professional context it often happens that private or corporate
                        clients corder a publication to be made and presented with the actual content still not being ready.
                        Think of a news blog that's filled with content hourly on the day of going live. However, reviewers
                        tend to be distracted by comprehensible content, say, a random text copied from a newspaper or the
                        internet. The are likely to focus on the text, disregarding the layout and its elements.</div>
                </div>
            </div>
        </div>	
    </div>
</div>