<li>
    <span class="icons bg-light-warning text-warning"><i class="bi bi-star"></i></span>
    <div class="listCaps">Mortin Musk left a review<span class="ratting high">4.2</span>on <a href="/single-listing-01/" class="listing-link">Snow Restaurants</a></div>
</li>
<li>
    <span class="icons bg-light-danger text-danger"><i class="bi bi-heart"></i></span>
    <div class="listCaps">Someone bookmark your <a href="/single-listing-01/" class="listing-link">Pepsco Cafe</a> Listing</div>
</li>
<li>
    <span class="icons bg-light-warning text-warning"><i class="bi bi-star"></i></span>
    <div class="listCaps">Arun Kovil left a review<span class="ratting mid">3.7</span>on <a href="/single-listing-01/" class="listing-link">Blue Crystel</a></div>
</li>
<li>
    <span class="icons bg-light-success text-success"><i class="bi bi-check-circle"></i></span>
    <div class="listCaps">Your listing <a href="/single-listing-01/" class="listing-link">Craft Casino</a> has been approved!</div>
</li>
<li>
    <span class="icons bg-light-warning text-warning"><i class="bi bi-star"></i></span>
    <div class="listCaps">Arun Kovil left a review<span class="ratting low">2.9</span>on <a href="/single-listing-01/" class="listing-link">Sagar Salon</a></div>
</li>