{% extends "Base/base.html" %}

{% block hero_content %}

{% include 'Base/navbar7.html' %}

<div id="preloader">
	<div class="preloader"><span></span><span></span></div>
</div>
					
<!-- Dashboard Start -->
<section class="p-0">
	<div class="container-fluid p-0">
		 <div id="dashboardShell" class="row user-dashboard g-0 pt-lg-0 pt-5 dashboard-shell">
			
			<!-- Dashboard Sidebar -->
			<div class="col-xl-2 col-lg-3 col-md-12 dashboard-sidebar-column">
				{% include "Components/User-Dashboard/shared/sidebar-user.html" %}
			</div>
			
			<!-- Dashboard Content -->
			<div class="col-xl-10 col-lg-9 col-md-12 dashboard-content-column">
				<div class="user-dashboard-box bg-light">
					
					<!-- Dashboard Title -->
					<div class="dashHeader p-xl-5 p-4 pb-xl-0 pb-0">
						<h2 class="fw-medium mb-0">Add Listing</h2>
					</div>
					
					<!-- Dashboard Details -->
					<div class="dashCaption p-xl-5 p-3 p-md-4">
						
						<!-- Row Start -->
						<div class="row align-items-start g-4 mb-lg-5 mb-4">
							<div class="col-xl-12 col-lg-12 col-md-12">
								<div class="card rounded-3 shadow-sm">
									<div class="card-header py-4 px-4">
										<h4 class="fs-5 fw-medium"><i class="fa fa-file text-primary me-2"></i>Basic Informations</h4>
									</div>
									<div class="card-body">

										<!-- Components/User-Dashboard/dashboard-add-listing/informations.html -->
										{% include 'Components/User-Dashboard/dashboard-add-listing/informations.html' %}

									</div>
								</div>
							</div>
							
						</div>
						<!-- Row End -->
						
						<!-- Row Start -->
						<div class="row align-items-start g-4 mb-lg-5 mb-4">
							<div class="col-xl-12 col-lg-12 col-md-12">
								<div class="card rounded-3 shadow-sm">
									<div class="card-header py-4 px-4">
										<h4 class="fs-5 fw-medium"><i class="bi bi-geo-alt text-primary me-2"></i>Add Location</h4>
									</div>
									<div class="card-body">

										<!-- Components/User-Dashboard/dashboard-add-listing/location.html -->
										{% include 'Components/User-Dashboard/dashboard-add-listing/location.html' %}

									</div>
								</div>
							</div>
							
						</div>
						<!-- Row End -->
						
						<!-- Row Start -->
						<div class="row align-items-start g-4 mb-lg-5 mb-4">
							<div class="col-xl-12 col-lg-12 col-md-12">
								<div class="card rounded-3 shadow-sm">
									<div class="card-header py-4 px-4">
										<h4 class="fs-5 fw-medium"><i class="bi bi-images text-primary me-2"></i>Logo & Gallery</h4>
									</div>
									<div class="card-body">
										<div class="row g-4">

											<!-- Components/User-Dashboard/dashboard-add-listing/logo&gallery.html -->
											{% include 'Components/User-Dashboard/dashboard-add-listing/logo&gallery.html' %}

										</div>
									</div>
								</div>
							</div>
							
						</div>
						<!-- Row End -->
						
						
						<!-- Row Start -->
						<div class="row align-items-start g-4 mb-lg-5 mb-4">
							<div class="col-xl-12 col-lg-12 col-md-12">
								<div class="card rounded-3 shadow-sm">
									<div class="card-header py-4 px-4">
										<h4 class="fs-5 fw-medium"><i class="bi bi-stopwatch text-primary me-2"></i>Working Hours</h4>
									</div>
									<div class="card-body">
											<div class="row">

											<!-- Components/User-Dashboard/dashboard-add-listing/working-hours.html -->
											{% include 'Components/User-Dashboard/dashboard-add-listing/working-hours.html' %}
											
											<div class="form-check mt-4 ps-5">
												<input id="t24" class="form-check-input" name="24-1" type="checkbox">
												<label for="t24" class="form-check-label text-dark">This Business open 7x24</label>
											</div>
										</div>
									</div>
								</div>
							</div>
							
						</div>
						<!-- Row End -->
						
						
						<!-- Row Start -->
						<div class="row align-items-start g-4 mb-lg-5 mb-4">
							<div class="col-xl-12 col-lg-12 col-md-12">
								<div class="card rounded-3 shadow-sm">
									<div class="card-header py-4 px-4">
										<h4 class="fs-5 fw-medium"><i class="bi bi-feather text-primary me-2"></i>Features</h4>
									</div>
									<div class="card-body">
											<div class="amenitiesFeatures">
											<ul class="p-0 row align-items-start justify-content-start g-4">

												<!-- Components/User-Dashboard/dashboard-add-listing/features2.html -->
												{% include 'Components/User-Dashboard/dashboard-add-listing/features2.html' %}

											</ul>
										</div>
									</div>
								</div>
							</div>
							
						</div>
						<!-- Row End -->
						
						
						<!-- Row Start -->
						<div class="row align-items-start g-4 mb-lg-5 mb-4">
							<div class="col-xl-12 col-lg-12 col-md-12">
								<div class="card rounded-3 shadow-sm">
									<div class="card-header py-4 px-4">
										<h4 class="fs-5 fw-medium"><i class="bi bi-tags text-primary me-2"></i>Add Menues</h4>
									</div>
									<div class="card-body">
										
										<!-- Components/User-Dashboard/dashboard-add-listing/menues.html -->
										{% include 'Components/User-Dashboard/dashboard-add-listing/menues.html' %}

									</div>
								</div>
							</div>
							
						</div>
						<!-- Row End -->
						
						<!-- Row Start -->
						<div class="row align-items-start g-4 mb-lg-5 mb-4">
							<div class="col-xl-12 col-lg-12 col-md-12">
								<button type="button" class="btn btn-primary rounded-pill fw-medium">Publish & Preview<i class="bi bi-arrow-right-circle ms-2"></i></button>
							</div>
							
						</div>
						<!-- Row End -->
						
						<!-- Row Start -->
						<div class="row align-items-start g-4">
							<div class="col-xl-12 col-lg-12 col-md-12">
								<p class="text-muted m-0">© <script>document.write(new Date().getFullYear())</script> ListingHub. Develop with <i class="mdi mdi-heart text-danger"></i> by <a href="https://shreethemes.in" target="_blank" class="text-reset">Shreethemes</a>.</p>
							</div>
						</div>
						
					</div>
					
				</div>
			</div>
			
		</div>
	</div>
</section>
<!-- Dashboard End -->


	<!-- Components/Home/index/cart.html -->
	{% include 'Components/Home/index/cart.html' %}
			 
			
	<!-- Components/Home/index/search.html -->
	{% include 'Components/Home/index/search.html' %}

{% endblock %}