{% extends "Base/base.html" %}

{% block hero_content %}

{% include 'Base/navbar2.html' %}

<div id="preloader">
	<div class="preloader"><span></span><span></span></div>
</div>

<div class="clearfix"></div>

<!-- Hero Start -->
<div class="image-cover hero-header full-height position-relative" style="background:url('{{ url_for('static', filename='assets/img/banner-5.jpg') }}') no-repeat;" data-overlay="6">
	<div class="container">

		<!-- Heading Rwo -->
		<div class="row justify-content-center align-items-center mb-5 pt-lg-0 pt-5">
			<div class="col-xl-10 col-lg-11 col-md-12 col-sm-12">
				<div class="position-relative text-center">
					<h1>Explore Verified Listings</h1>
					<p class="fs-5 fw-light">Browse high-rated hotels, restaurants, attractions, activities and more!</p>
				</div>
			</div>
		</div>
		<!-- </row> -->
		
		<!-- Search Form row -->
		<div class="row align-items-start justify-content-center">
			<div class="col-xl-10 col-lg-12 col-md-12 col-sm-12">
				<div class="searchUpper">
					<nav>
						<div class="nav nav-tabs d-flex align-items-center justify-content-center" id="nav-tab" role="tablist">
							<button class="nav-link active" id="nav-placess-tab" data-bs-toggle="tab" data-bs-target="#nav-placess" type="button" role="tab" aria-selected="true">Places</button>
							<button class="nav-link" id="nav-rentalss-tab" data-bs-toggle="tab" data-bs-target="#nav-rentalss" type="button" role="tab" aria-selected="false">Rental</button>
							<button class="nav-link" id="nav-classifiedss-tab" data-bs-toggle="tab" data-bs-target="#nav-classifiedss" type="button" role="tab" aria-selected="false">Classified</button>
							<button class="nav-link" id="nav-attractionss-tab" data-bs-toggle="tab" data-bs-target="#nav-attractionss" type="button" role="tab" aria-selected="false">Attractions</button>
						</div>
					</nav>
					<div class="heroSearch rounded-search style-01">
						<div class="row gx-lg-2 gx-md-2 gx-3 gy-sm-2 gy-2">
							<div class="col-xl-10 col-lg-9 col-md-12">
								<div class="row gx-lg-2 gx-md-2 gx-3 gy-sm-2 gy-2">
									<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
										<div class="form-group">
											<div class="mobSearch d-flex align-items-center justify-content-start">
												<div class="flexStart ps-2"><span class="fw-semibold text-dark">Find</span></div>
												<input type="text" class="form-control fs-6 fw-medium border-0" placeholder="What are you looking for?">
											</div>
										</div>
									</div>
									<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 single-border">
										<div class="form-group">
											<div class="mobSearch d-flex align-items-center justify-content-start">
												<div class="flexStart ps-2"><span class="fw-semibold text-dark">Where</span></div>
												<input type="text" class="form-control fs-6 fw-medium border-0" placeholder="Location">
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-2 col-lg-3 col-md-12 col-sm-12">
								<div class="form-group">
									<button type="button" class="btn btn-primary rounded-pill full-width fw-medium"><i class="bi bi-search me-2"></i>Search</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Search Form Row -->

	</div>
	<div class="mousedrop z-1"><a href="#mains" class="mousewheel center"><i class="bi bi-mouse"></i></a></div>
</div>
<!-- Hero End -->


<!-- ListingHub Rating Start -->
<section class="py-5 pb-0">
	<div class="container">
		<div class="row align-items-center justify-content-between g-xl-4 g-3">
			
			<!-- Components/Home/home-7/rating.html -->
			{% include 'Components/Home/home-7/rating.html' %}
		
		</div>
	</div>
</section>
<!-- ListingHub Rating End -->


<!-- Popular Listings Start -->
<section id="mains">
	<div class="container">

		<div class="row align-items-center justify-content-center">
			<div class="col-xl-7 col-lg-8 col-md-11 col-sm-12">
				<div class="secHeading-wrap text-center">
					<h3 class="sectionHeading">Popular Listings In <span class="text-primary">Chicago</span></h3>
					<p>Explore Hot & Popular Business Listings</p>
				</div>
			</div>
		</div>

	
		<div class="row align-items-center justify-content-center">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
				<div class="owl-carousel owl-theme itemslider">
					
					<!-- Components/Home/home-3/listings2.html -->
                    {% include 'Components/Home/home-3/listings2.html' %}
					
				</div>
			</div>
		</div>
	
	</div>
</section>
<!-- Popular Listings End -->


<!-- ListingHub Categories Start -->
<section class="bg-light">
	<div class="container">
		
		<div class="row align-items-center justify-content-center">
			<div class="col-xl-7 col-lg-8 col-md-11 col-sm-12">
				<div class="secHeading-wrap text-center">
					<h3 class="sectionHeading">Hot & Trending <span class="text-primary">Categories</span></h3>
					<p>Explore all types of popular category for submit your listings</p>
				</div>
			</div>
		</div>
		
		
		<div class="row align-items-center justify-content-between row-cols-xl-5 row-cols-lg-5 row-cols-md-4 row-cols-sm-3 row-cols-2 g-xl-4 g-3">
			
			<!-- Components/Home/home-7/categories4.html -->
			{% include 'Components/Home/home-7/categories4.html' %}
		
		</div>
	</div>
</section>
<!-- ListingHub Categories End -->


<!-- Popular Listings Start -->
<section>
	<div class="container">

		<div class="row align-items-center justify-content-center">
			<div class="col-xl-7 col-lg-8 col-md-11 col-sm-12">
				<div class="secHeading-wrap text-center">
					<h3 class="sectionHeading">Popular Listings In <span class="text-primary">Chicago</span></h3>
					<p>Explore Hot & Popular Business Listings</p>
				</div>
			</div>
		</div>

	
		<div class="row align-items-center justify-content-center">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
				<div class="owl-carousel owl-theme itemslider">
					
					<!-- Components/Home/index/listings.html -->
                    {% include 'Components/Home/index/listings.html' %}
					
				</div>
			</div>
		</div>
	
	</div>
</section>
<!-- Popular Listings End -->



<!-- Listing By Places Start -->
<section class="bg-light">
	<div class="container">

		<div class="row align-items-center justify-content-center">
			<div class="col-xl-7 col-lg-8 col-md-11 col-sm-12">
				<div class="secHeading-wrap text-center">
					<h3 class="sectionHeading">Explore Listings By <span class="text-primary">Cities</span></h3>
					<p>Our cliens love our services and give great & positive reviews</p>
				</div>
			</div>
		</div>

	
		<div class="row align-items-center justify-content-center g-4">
			
			<!-- Components/Home/home-2/cities.html -->
			{% include 'Components/Home/home-2/cities.html' %}

		</div>
	
	</div>
</section>
<!-- Listing By Places End -->


<!-- Choose Package Start -->
<section>
	<div class="container">

		<div class="row align-items-center justify-content-center">
			<div class="col-xl-7 col-lg-8 col-md-11 col-sm-12">
				<div class="secHeading-wrap text-center">
					<h3 class="sectionHeading">Choose Your <span class="text-primary">Package</span></h3>
					<p>Find & Select a perfect & suitable package for your choice.</p>
				</div>
			</div>
		</div>
		
		<div class="row align-items-center justify-content-center mb-4">
			
			<!-- Components/Home/home-5/account.html -->
			{% include 'Components/Home/home-5/account.html' %}

		</div>
		
		
		<div class="row align-items-center justify-content-between g-xl-4 g-3">
			
			<!-- Components/Home/home-5/package.html -->
			{% include 'Components/Home/home-5/package.html' %}

		</div>					
	
	</div>
</section>
<!-- Choose Package End -->


<!-- Call To Action Start -->
<section class="bg-cover bg-dark position-relative py-5" style="background:url('{{ url_for('static', filename='assets/img/brand-section.png') }}') no-repeat;">
	<div class="container">
			
		<!-- Components/Home/index/subscribe.html -->
		{% include 'Components/Home/index/subscribe.html' %}

	</div>
</section>
<!-- Call To Action Start -->

	<!-- Components/Home/index/log.html -->
	{% include 'Components/Home/index/log.html' %}

	
	<!-- Components/Home/index/cart.html -->
	{% include 'Components/Home/index/cart.html' %}
	
	
	<!-- Components/Home/index/search.html -->
	{% include 'Components/Home/index/search.html' %}


{% include 'Base/footer2.html' %} 

{% endblock %}