{% extends "Base/base.html" %}

{% block hero_content %}

{% include 'Base/navbar9.html' %}

<div id="preloader">
	<div class="preloader"><span></span><span></span></div>
</div>

<div class="clearfix"></div>			
			
<!-- Page Title Start -->
<section class="bg-light">
	<div class="container">

		<!-- Search Form -->
		<div class="row justify-content-start align-items-center pt-lg-0 pt-5">
			<div class="col-xl-7 col-lg-9 col-md-12 col-sm-12">
				<div class="position-relative">
					<h1 class="xl-heading">Pricing Page</h1>
					<nav id="breadcrumbs" class="breadcrumbs">
						<ul>
							<li><a href="/">Home</a></li>
							<li><a href="#">Pages</a></li>
							<li>Pricing</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
		<!-- </row> -->

	</div>
</section>
<!-- Page Title End -->

<!-- Price Table Start -->
<section>
	<div class="container">
	
		<div class="row align-items-center justify-content-center">
			<div class="col-xl-7 col-lg-8 col-md-11 col-sm-12">
				<div class="secHeading-wrap text-center mb-5">
					<h2 class="fw-semibold">Choose your Package</h2>
					<p>Showcase the finest features of your properties with the List Category shortcode. Utilize this tool to display specific property categories, types, cities, and areas of your choice.</p>
				</div>
			</div>
		</div>
		
		<div class="row align-items-center justify-content-between g-xl-4 g-3">
		
			<!-- Components/Home/home-5/package.html -->
			{% include 'Components/Home/home-5/package.html' %}

		</div>
		
	</div>	
</section>
<!-- Price Table End -->

<!-- Call To Action Start -->
<section class="bg-cover bg-primary-2 position-relative py-5" style="background:url('{{ url_for('static', filename='assets/img/brand-section.png') }}') no-repeat;">
	<div class="container">
		
		<!-- Components/Home/index/subscribe.html -->
		{% include 'Components/Home/index/subscribe.html' %}

	</div>
</section>
<!-- Call To Action Start -->

	<!-- Components/Home/index/log.html -->
	{% include 'Components/Home/index/log.html' %}
			

	<!-- Components/Home/index/cart.html -->
	{% include 'Components/Home/index/cart.html' %}
			
			
	<!-- Components/Home/index/search.html -->
	{% include 'Components/Home/index/search.html' %}


	{% include 'Base/footer.html' %} 

{% endblock %}