<div class="paymentPagewrap">
    <div class="paymentPage">
        <div class="bookingList">
            <img src="{{ url_for('static', filename='assets/img/list-4.jpg') }}" class="img-fluid" alt="Listing Image">	
            <div class="listing-details">
                <h5>The Blue Ley Light<span class="verified"><i class="bi bi-patch-check-fill m-0"></i></span></h5>
                <div class="list-ratings">
                    <div class="d-flex align-items-center justify-content-start gap-2">
                        <span class="d-flex align-items-center justify-content-start gap-1 text-sm">
                            <i class="bi bi-star-fill mb-0 text-warning"></i><i class="bi bi-star-fill mb-0 text-warning"></i><i class="bi bi-star-fill mb-0 text-warning"></i><i class="bi bi-star-fill mb-0 text-warning"></i><i class="bi bi-star-half mb-0 text-warning"></i>
                        </span>
                        <span class="text-md text-light">(86 Reviews)</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="booking-info-try rounded mt-4">
        <ul class="p-0 m-0">
            <li class="d-flex align-items-center justify-content-between my-2"><span class="text-dark fw-medium">Booking Date</span><span class="fw-medium text-muted">Sep 6 2025</span></li>
            <li class="d-flex align-items-center justify-content-between my-2"><span class="text-dark fw-medium">Time</span><span class="fw-medium text-muted">10:50 AM</span></li>
            <li class="d-flex align-items-center justify-content-between my-2"><span class="text-dark fw-medium">Guests</span><span class="fw-medium text-muted">02 Adults, 0 Child</span></li>
            <li class="d-flex align-items-center justify-content-between my-2"><span class="text-dark fw-medium">Discount</span><span class="fw-medium text-danger">-$12.10</span></li>
            <li class="d-flex align-items-center justify-content-between"><span class="text-dark fw-medium">Total</span><span class="fw-semibold text-success">$298.76</span></li>
        </ul>
    </div>
</div>