<div class="col-lg-6 col-md-6 col-sm-12">
    <div class="form-group">
        <label>First Name<i class="req">*</i></label>
        <input type="text" class="form-control">
    </div>
</div>

<div class="col-lg-6 col-md-6 col-sm-12">
    <div class="form-group">
        <label>Last Name<i class="req">*</i></label>
        <input type="text" class="form-control">
    </div>
</div>

<div class="col-lg-6 col-md-6 col-sm-12">
    <div class="form-group">
        <label>Your Email<i class="req">*</i></label>
        <input type="email" class="form-control">
    </div>
</div>

<div class="col-lg-6 col-md-6 col-sm-12">
    <div class="form-group">
        <label>Contact<i class="req">*</i></label>
        <input type="text" class="form-control">
    </div>
</div>