<div class="accordion accordion-flush" id="paymentFlushExample">
    <div class="accordion-item border">
        <h2 class="accordion-header rounded-2">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-paypal" aria-expanded="false" aria-controls="flush-paypal">
                Pay Via PayPal
            </button>
        </h2>
        <div id="flush-paypal" class="accordion-collapse collapse show" data-bs-parent="#paymentFlushExample">
            <div class="accordion-body">
                <form>
                    <div class="form-group">
                        <label>PayPal Email</label>
                        <input type="text" class="form-control simple" placeholder="paypal@gmail.com">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="accordion-item border rounded-2">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-stripe" aria-expanded="false" aria-controls="flush-stripe">
                Pay Via Stripe
            </button>
        </h2>
        <div id="flush-stripe" class="accordion-collapse collapse" data-bs-parent="#paymentFlushExample">
            <div class="accordion-body">
                <form>
                                        
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>Card Holder Name</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>Card Number</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>									
                    
                        <div class="col-lg-5 col-md-5 col-sm-6">
                            <div class="form-group">
                                <label>Expire Month</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        
                        <div class="col-lg-5 col-md-5 col-sm-6">
                            <div class="form-group">
                                <label>Expire Year</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        
                        <div class="col-lg-2 col-md-2 col-sm-12">
                            <div class="form-group">
                                <label>CVC</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>										
                        
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-check mb-3">
                                <input id="stripes" class="form-check-input" name="stripes" type="checkbox">
                                <label for="stripes" class="form-check-label">By Continuing, you ar'e agree to conditions</label>
                            </div>
                        </div>
                        
                    </div>
                
                </form>
            </div>
        </div>
    </div>
    <div class="accordion-item border rounded-2">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-creditcard" aria-expanded="false" aria-controls="flush-creditcard">
                Pay Via Dabit/Credit Card
            </button>
        </h2>
        <div id="flush-creditcard" class="accordion-collapse collapse" data-bs-parent="#paymentFlushExample">
            <div class="accordion-body">
                <form>
                                        
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>Card Holder Name</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>Card Number</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>									
                    
                        <div class="col-lg-5 col-md-5 col-sm-6">
                            <div class="form-group">
                                <label>Expire Month</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        
                        <div class="col-lg-5 col-md-5 col-sm-6">
                            <div class="form-group">
                                <label>Expire Year</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        
                        <div class="col-lg-2 col-md-2 col-sm-12">
                            <div class="form-group">
                                <label>CVC</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>										
                        
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-check mb-3">
                                <input id="credits" class="form-check-input" name="credits" type="checkbox">
                                <label for="credits" class="form-check-label">By Continuing, you ar'e agree to conditions</label>
                            </div>
                        </div>								
                        
                    </div>
                
                </form>
            </div>
        </div>
    </div>
</div>