<footer class="footer skin-dark-footer">
    <div class="container-fluid">
        <div class="row">

            <div class="col-12 col-md-5 col-lg-12 col-xl-4">
                <div class="footer-widget pe-xl-4 mb-5">
                    <div class="footerLogo"><img src="{{ url_for('static', filename='assets/img/logo-light.svg') }}" class="img-fluid" width="160" alt="Footer Logo"></div>
                    <div class="footerText">
                        <p class="mb-0">© <script>document.write(new Date().getFullYear())</script> ListingHub. Develop with <i class="mdi mdi-heart text-danger"></i> by <a href="https://shreethemes.in" target="_blank" class="text-reset">Shreethemes</a>.</p>
                    </div>
                    <div class="footerSocialwrap">
                        <ul class="footersocial">
                            <li><a href="#" class="social-link"><i class="fa-brands fa-facebook-f"></i></a></li>
                            <li><a href="#" class="social-link"><i class="fa-brands fa-twitter"></i></a></li>
                            <li><a href="#" class="social-link"><i class="fa-brands fa-instagram"></i></a></li>
                            <li><a href="#" class="social-link"><i class="fa-brands fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="col-6 col-md-4 offset-md-3 col-lg-3  offset-lg-0 col-xl-2">
                <div class="footer-widget mb-5 mb-md-5 mb-lg-0">
                    <h4 class="widget-title text-pri">Community</h4>
                    <ul class="footer-menu">
                        <li><a href="#">About ListingHub</a></li>
                        <li><a href="#">Submit Listing</a></li>
                        <li><a href="#">ListingHub Report</a></li>
                        <li><a href="#">Careers</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-6 col-md-4 col-lg-3 col-xl-2">
                <div class="footer-widget mb-5 mb-md-5 mb-lg-0">
                    <h4 class="widget-title">Getting Started</h4>
                    <ul class="footer-menu">
                        <li><a href="#">Trust & Safety</a></li>
                        <li><a href="#">Investor Relations</a></li>
                        <li><a href="#">Connect Guidelines</a></li>
                        <li><a href="#">Terms of Services</a></li>
                        <li><a href="#">Paid Advertising</a></li>
                        <li><a href="#">ListingHub Blog</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-6 col-md-4 col-lg-3 col-xl-2">
                <div class="footer-widget">
                    <h4 class="widget-title">ListingHub Business</h4>
                    <ul class="footer-menu">
                        <li><a href="#">ListingHub for Business</a></li>
                        <li><a href="#">Advertise on ListingHub</a></li>
                        <li><a href="#">Login on ListingHub</a></li>
                        <li><a href="#">Claim for Business Page</a></li>
                        <li><a href="#">Support for B2B</a></li>
                        <li><a href="#">Table Management</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-6 col-md-4 col-lg-3 col-xl-2">
                <div class="footer-widget">
                    <h4 class="widget-title">Get In Touch</h4>
                    <div class="contactInfowrap">
                        
                        <div class="singleinfo">
                            <div class="icons"><i class="bi bi-geo-alt-fill"></i></div>
                            <div class="caps">
                                <h5 class="title">Angraster 7, Greenhorst<br>Los Angeles QTC564</h5>
                                <p class="subs">Reach Us</p>											
                            </div>
                        </div>
                        
                        <div class="singleinfo">
                            <div class="icons"><i class="bi bi-telephone-outbound"></i></div>
                            <div class="caps">
                                <h5 class="title">042 - 526 - 5263</h5>
                                <p class="subs">Mon - Sat 10am - 6PM</p>											
                            </div>
                        </div>
                    
                    </div>
                </div>
            </div>

        </div>
        
    </div>
    
</footer>