<!-- Search Sidebar -->
<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
					
    <div class="searchingSidebar pe-xl-5">
    
        <div class="offcanvas offcanvas-start largeshow" data-bs-scroll="true" tabindex="-1" id="filterSlider" aria-labelledby="filterSliderLabel">
            <div class="offcanvas-header border-bottom py-3">
                <h3 class="h5">Filters</h3>
                <button type="button" class="btn-close text-sm d-lg-none" data-bs-dismiss="offcanvas" data-bs-target="#filterSidebar" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body overflow-x-hidden p-4 p-lg-0" id="filterSliderLabel">
            
                <!-- Options -->
                <div class="searchInner">
                    
                    <div class="search-inner">
                        
                        <div class="filter-search-box mb-4">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search listing..">
                            </div>
                        </div>
                        
                        <div class="prtsTypes mb-4">
                            <div class="filterButton">
                                    
                                <div class="filterFlex">
                                    <input type="radio" class="btn-check" name="ratingsfilter" id="all" checked>
                                    <label class="btn" for="all"><i class="bi bi-star-fill me-1"></i>All</label>
                                </div>
                                
                                <div class="filterFlex">
                                    <input type="radio" class="btn-check" name="ratingsfilter" id="threeplus">
                                    <label class="btn" for="threeplus"><i class="bi bi-star-fill me-1"></i>3.0+</label>
                                </div>
                                
                                <div class="filterFlex">
                                    <input type="radio" class="btn-check" name="ratingsfilter" id="fourplus">
                                    <label class="btn" for="fourplus"><i class="bi bi-star-fill me-1"></i>4.0+</label>
                                </div>
                                
                                <div class="filterFlex">
                                    <input type="radio" class="btn-check" name="ratingsfilter" id="fiveplus">
                                    <label class="btn" for="fiveplus"><i class="bi bi-star-fill me-1"></i>5.0</label>	
                                </div>
                                
                            </div>
                        </div>
                        
                        <!-- Categories -->
                        <div class="filter-search-box mb-4">
                            <div class="filtersearch-title"><h6 class="mb-2 lh-base text-sm text-uppercase fw-medium">Categories</h6></div>
                            <div class="row align-items-center justify-content-between gy-2">
                                <div class="col-xl-12 col-lg-12 col-md-12">
                                    <div class="d-flex align-items-center justify-content-center flex-wrap gap-2 mb-3">
                    
                                        <!-- Components/Listings/Grid-Layouts/grid-layout-01/categories.html -->
										{% include 'Components/Listings/Grid-Layouts/grid-layout-01/categories.html' %}
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!-- Price Range -->
                        <div class="filter-search-box mb-4">
                            <div class="filtersearch-title"><h6 class="mb-2 lh-base text-sm text-uppercase fw-medium">Price Range in USD</h6></div>
                            <div class="row align-items-center justify-content-between">
                                <div class="col-12">
                                    <div class="searchBar-single-wrap mt-2">
                                        <input type="text" class="pricefilter" name="my_range" value="" data-skin="round"
                                            data-type="double" data-min="0" data-max="500" data-grid="false">
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!-- Price Range -->
                        <div class="filter-search-box mb-4">
                            <div class="filtersearch-title"><h6 class="mb-2 lh-base text-sm text-uppercase fw-medium">Distance Filter in Km</h6></div>
                            <div class="row align-items-center justify-content-between">
                                <div class="col-12">
                                    <div class="searchBar-single-wrap mt-2">
                                        <input type="text" class="distancefilter" name="my_range" value="" data-skin="round"
                                        data-type="single" data-grid="false">
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!-- More Filter -->
                        <div class="filter-search-box mb-4">
                        <div class="filtersearch-title"><h6 class="mb-2 lh-base text-sm text-uppercase fw-medium">Amenities</h6></div>
                            <div class="row align-items-center justify-content-between gy-2">
                                    
                                <!-- Components/Listings/Grid-Layouts/grid-layout-01/amenities.html -->
								{% include 'Components/Listings/Grid-Layouts/grid-layout-01/amenities.html' %}

                            </div>
                        </div>
                        
                        <div class="form-group filter_button mb-0">
                            <button type="submit" class="btn btn-primary fw-medium full-width">Save & Update</button>
                        </div>
                    </div>							
                </div>
            </div>
            
        </div>
    </div>
        
</div>
<!-- Sidebar End -->