<div class="col-xl-5 col-lg-5 col-md-6">
    <img src="{{ url_for('static', filename='assets/img/app.svg') }}" class="img-fluid" alt="Image">
</div>

<div class="col-xl-6 col-lg-6 col-md-6">
    <div class="workingCaption">
        <div class="workingDescribe mb-4">
            <h3 class="fw-semibold lh-base">Explore ListingHub Working Process Step By Step with Easy Way.</h3>
            <p class="lead">In a professional context it often happens that private or corporate clients corder a publication to be made and presented.<p>
        </div>
        
        <div class="d-block availableFeatures mb-4">
            <div class="row align-items-center justify-content-start g-3">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-6">
                    <div class="d-flex align-items-center justify-content-start gap-2">
                        <span class="square--30 circle bg-light-success text-success"><i class="bi bi-check-lg"></i></span>
                        <span class="text-dark">Featured Listing Available</span>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-6">
                    <div class="d-flex align-items-center justify-content-start gap-2">
                        <span class="square--30 circle bg-light-success text-success"><i class="bi bi-check-lg"></i></span>
                        <span class="text-dark">Cicero famously orated against</span>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-6">
                    <div class="d-flex align-items-center justify-content-start gap-2">
                        <span class="square--30 circle bg-light-success text-success"><i class="bi bi-check-lg"></i></span>
                        <span class="text-dark">The wise man therefore always</span>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-6">
                    <div class="d-flex align-items-center justify-content-start gap-2">
                        <span class="square--30 circle bg-light-success text-success"><i class="bi bi-check-lg"></i></span>
                        <span class="text-dark">Usually, we prefer the real thing</span>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="workingDemo mb-4">
            <div class="row align-items-center justify-content-center g-3">
                <div class="col-xl-8 col-lg-8 col-md-8">
                    <div class="form-group position-relative m-0">
                        <input type="tel" class="form-control fw-medium ps-5" placeholder="41 256 524 5485">
                        <span class="position-absolute top-50 start-0 translate-middle-y fs-5 ms-3 text-primary"><i class="bi bi-phone"></i></span>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4">
                    <div class="form-group m-0">
                        <button type="button" class="btn btn-dark fw-medium w-100">Get Free Demo</button>	
                    </div>
                </div>
            </div>
        </div>
        <div class="workingVideo">
            <div class="workingVideobox">
                <a href="#" class="d-inline-flex align-items-center justify-content-start gap-3">
                    <span class="square--50 circle bg-light-primary text-primary shadow-sm"><i class="bi bi-play-fill fs-4"></i></span>
                    <span class="fw-semibold text-dark">See how ListingHub work online</span>
                </a>
            </div>
        </div>
    </div>
</div>