<div class="col-xl-5 col-lg-6 col-md-5">
    <div class="featuresImage">
        <img src="{{ url_for('static', filename='assets/img/search-engine-isometric.svg') }}" class="img-fluid" alt="Features Image">
    </div>
</div>

<div class="col-xl-5 col-lg-6 col-md-6">
    <div class="featuresCaption">
        <div class="fstsTitle mb-4">
            <h3 class="fw-medium lh-base">Why People Love & Select ListingHub Platform?</h3>
        </div>
        <div class="fstsFeatures mb-4">
            <div class="d-flex flex-column gap-4">
            
                <!-- Single Item -->
                <div class="d-flex align-items-start justify-content-start gap-3">
                    <div class="fstlsIcons"><i class="bi bi-piggy-bank text-primary fs-1"></i></div>
                    <div class="fstlsPara">
                        <h5 class="fw-medium">Save your budget</h5>
                        <p class="lead m-0">Think of a news blog that's filled with content hourly on the day of going live.</p>
                    </div>
                </div>
                <!-- Single Item -->
                <div class="d-flex align-items-start justify-content-start gap-3">
                    <div class="fstlsIcons"><i class="bi bi-shield-check text-primary fs-1"></i></div>
                    <div class="fstlsPara">
                        <h5 class="fw-medium">Safe &amp; pure secure</h5>
                        <p class="lead m-0">Think of a news blog that's filled with content hourly on the day of going live.</p>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="fstsButton">
            <button class="btn btn-light-primary rounded-pill fw-medium" type="button">Submit Your Listing</button>
        </div>
    </div>
</div>