{% for item in rows2 %}
    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
        <div class="card rounded-3 position-relative p-4">
            <div class="position-absolute w-30 h-100 {{ item.style }} start-0 top-0 rounded-end-pill"><div class="position-absolute top-50 start-50 translate-middle"><i class="{{ item.icon }} text-white fs-2"></i></div></div>
            <div class="d-flex flex-column align-items-end justify-content-end ht-80">
                <h2 class="mb-0"><span class="ctr counter-value" data-bs-target="{{ item.number }}">{{ item.price }}</span></h2>
                <p class="text-muted-2 fw-medium mb-0">{{ item.title }}</p>
            </div>
        </div>
    </div>
{% endfor %}