<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="form-group">
            <label class="lableTitle">Listing Tile<i class="lableTip bi bi-patch-question-fill" data-bs-toggle="tooltip" data-bs-title="Name of your business"></i></label>
            <input type="text" class="form-control rounded" placeholder="Decathlon Sport House">
        </div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="form-group">
            <label class="lableTitle">Category</label>
            <div class="selects border">
                <select id="my-select">
                  <option label="All Categories"></option> 
                  <option value="lv">Eat & Drinking</option>
                  <option value="la">Rental Property</option>
                  <option value="kc">Classifieds</option>
                  <option value="no">Bank Services</option>
                  <option value="kc">Shopping</option>
                  <option value="lb">Fintess & Gym</option>
                  <option value="cl">Coaching</option>
                  <option value="cn">Other Services</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="form-group">
            <label class="lableTitle">Keywords<i class="lableTip bi bi-patch-question-fill" data-bs-toggle="tooltip" data-bs-title="Maximum 10 keywords related with business"></i></label>
            <input type="text" class="form-control rounded" placeholder="Type keywords by comma's">
        </div>
    </div>
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="form-group">
            <label class="lableTitle">About Liting</label>
            <textarea class="form-control rounded ht-150" placeholder="Describe your self"></textarea>
        </div>
    </div>
</div>