<div class="row">
														
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="form-group">
            <label class="lableTitle">Choose Category<i class="lableTip bi bi-patch-question-fill" data-bs-toggle="tooltip" data-bs-title="Choose your Item Category"></i></label>
            <div class="selects border">
                <select id="my-select18">
                  <option label="All Categories"></option> 
                  <option value="lv">Chinees Food</option>
                  <option value="la">Indian Food</option>
                  <option value="kc">Breakfast</option>
                  <option value="no">South Indian Food</option>
                  <option value="kc">Fast Food</option>
                  <option value="lb">Noodles</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <div class="form-group">
            <label class="lableTitle">Item Name</label>
            <input type="text" class="form-control rounded" placeholder="Item Name">
        </div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <div class="form-group">
            <label class="lableTitle">Item Price in USD</label>
            <input type="text" class="form-control rounded" placeholder="Price">
        </div>
    </div>
    
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="d-flex align-items-center justify-content-between gap-3">
            <div class="addItem"><button type="button" class="btn btn-sm btn-light-primary fw-medium rounded-pill"><i class="bi bi-plus-circle me-1"></i>Add Item</button></div>
            <div class="removeItem"><button type="button" class="btn btn-sm btn-light fw-medium rounded-pill"><i class="bi bi-x-circle me-1"></i>Remove Item</button></div>
        </div>
    </div>
    
</div>