<div class="form-group">
    <div class="row align-items-center g-3">
        <label class="lableTitle col-lg-2 col-md-2">Monday</label>
        <div class="col-lg-5 col-md-5 border">
            <select id="my-select4">
                <option label="Opening Time"></option> 
                
                <!-- Components/User-Dashboard/dashboard-add-listing/timing.html -->
				{% include 'Components/User-Dashboard/dashboard-add-listing/timing.html' %}

            </select>
        </div>
        <div class="col-lg-5 col-md-5 border">
            <select id="my-select5">
                <option label="Closing Time"></option> 
                    
                <!-- Components/User-Dashboard/dashboard-add-listing/timing.html -->
				{% include 'Components/User-Dashboard/dashboard-add-listing/timing.html' %}

            </select>
        </div>
    </div>
</div>

<div class="form-group">
    <div class="row align-items-center g-3">
        <label class="lableTitle col-lg-2 col-md-2">Tuesday</label>
        <div class="col-lg-5 col-md-5 border">
            <select id="my-select6">
                <option label="Opening Time"></option> 
                    
                <!-- Components/User-Dashboard/dashboard-add-listing/timing.html -->
				{% include 'Components/User-Dashboard/dashboard-add-listing/timing.html' %}

            </select>
        </div>
        <div class="col-lg-5 col-md-5 border">
            <select id="my-select7">
                <option label="Closing Time"></option> 
                    
                <!-- Components/User-Dashboard/dashboard-add-listing/timing.html -->
				{% include 'Components/User-Dashboard/dashboard-add-listing/timing.html' %}

            </select>
        </div>
    </div>
</div>

<div class="form-group">
    <div class="row align-items-center g-3">
        <label class="lableTitle col-lg-2 col-md-2">Wednesday</label>
        <div class="col-lg-5 col-md-5 border">
            <select id="my-select8">
                <option label="Opening Time"></option> 
                    
                <!-- Components/User-Dashboard/dashboard-add-listing/timing.html -->
				{% include 'Components/User-Dashboard/dashboard-add-listing/timing.html' %}

            </select>
        </div>
        <div class="col-lg-5 col-md-5 border">
            <select id="my-select9">
                <option label="Closing Time"></option> 
                    
                <!-- Components/User-Dashboard/dashboard-add-listing/timing.html -->
				{% include 'Components/User-Dashboard/dashboard-add-listing/timing.html' %}

            </select>
        </div>
    </div>
</div>

<div class="form-group">
    <div class="row align-items-center g-3">
        <label class="lableTitle col-lg-2 col-md-2">Thursday</label>
        <div class="col-lg-5 col-md-5 border">
            <select id="my-select10">
                <option label="Opening Time"></option> 
                    
                <!-- Components/User-Dashboard/dashboard-add-listing/timing.html -->
				{% include 'Components/User-Dashboard/dashboard-add-listing/timing.html' %}

            </select>
        </div>
        <div class="col-lg-5 col-md-5 border">
            <select id="my-select11">
                <option label="Closing Time"></option> 
                    
                <!-- Components/User-Dashboard/dashboard-add-listing/timing.html -->
				{% include 'Components/User-Dashboard/dashboard-add-listing/timing.html' %}

            </select>
        </div>
    </div>
</div>

<div class="form-group">
    <div class="row align-items-center g-3">
        <label class="lableTitle col-lg-2 col-md-2">Friday</label>
        <div class="col-lg-5 col-md-5 border">
            <select id="my-select12">
                <option label="Opening Time"></option> 
                    
                <!-- Components/User-Dashboard/dashboard-add-listing/timing.html -->
				{% include 'Components/User-Dashboard/dashboard-add-listing/timing.html' %}

            </select>
        </div>
        <div class="col-lg-5 col-md-5 border">
            <select id="my-select13">
                <option label="Closing Time"></option> 
                    
                <!-- Components/User-Dashboard/dashboard-add-listing/timing.html -->
				{% include 'Components/User-Dashboard/dashboard-add-listing/timing.html' %}

            </select>
        </div>
    </div>
</div>

<div class="form-group">
    <div class="row align-items-center g-3">
        <label class="lableTitle col-lg-2 col-md-2">Saturday</label>
        <div class="col-lg-5 col-md-5 border">
            <select id="my-select14">
                <option label="Opening Time"></option> 
                    
                <!-- Components/User-Dashboard/dashboard-add-listing/timing.html -->
				{% include 'Components/User-Dashboard/dashboard-add-listing/timing.html' %}

            </select>
        </div>
        <div class="col-lg-5 col-md-5 border">
            <select id="my-select15">
                <option label="Closing Time"></option> 
                    
                <!-- Components/User-Dashboard/dashboard-add-listing/timing.html -->
				{% include 'Components/User-Dashboard/dashboard-add-listing/timing.html' %}

            </select>
        </div>
    </div>
</div>

<div class="form-group">
    <div class="row align-items-center g-3">
        <label class="lableTitle col-lg-2 col-md-2">Sunday</label>
        <div class="col-lg-5 col-md-5 border">
            <select id="my-select16">
                <option label="Opening Time"></option> 
                    
                <!-- Components/User-Dashboard/dashboard-add-listing/timing.html -->
				{% include 'Components/User-Dashboard/dashboard-add-listing/timing.html' %}

            </select>
        </div>
        <div class="col-lg-5 col-md-5 border">
            <select id="my-select17">
                <option label="Closing Time"></option> 
                    
                <!-- Components/User-Dashboard/dashboard-add-listing/timing.html -->
				{% include 'Components/User-Dashboard/dashboard-add-listing/timing.html' %}

            </select>
        </div>
    </div>
</div>